.page-header-acc{
  display: block;
}

.container-acc{
  border: 1px solid lightgrey;
  width: 36vw;
  padding: 2em 0;
  border-radius: $secondary-border-radius;
  background: $alternate-background;
  box-shadow: $container-box-shadow;

  &__header{
    // border: 1px solid red;
    margin-bottom: 0.5em; 
    text-align: center;
  }
}

.login-error{
  padding: 0.6em 0;
	text-align: center;
	color: firebrick;
	font-size: 107%;
  font-weight: 500;
}

@media only screen and (max-width: 1024px){
  .container-acc{
    width: 48vw;
  }
}

@media only screen and (max-width: 768px){
  .container-acc{
    width: 60vw;

    &__header{
      font-size: 92%;
      letter-spacing: 0.02em; 
    }
  }
  .login-error{
    font-size: 100%;
    letter-spacing: 0.02em;
  }
}

@media only screen and (max-width: 600px){
  .container-acc{
    width: 70vw;
  }
}

@media only screen and (max-width: 480px){
  .container-acc{
    width: 90vw;
  } 
}

@media only screen and (min-width: 1920px){
	.container-acc{
		width: 30vw;
	}
}