@media only screen and (max-width: 1024px){
  .container-acc{
    width: 48vw;
  }
}

@media only screen and (max-width: 768px){
  .container-acc{
    width: 60vw;

    &__header{
      font-size: 92%;
      letter-spacing: 0.02em; 
    }
  }
  .login-error{
    font-size: 100%;
    letter-spacing: 0.02em;
  }
  .form-container-acc{
    padding: 1em 0.75em;
  }
  .form-row{
    label{
      letter-spacing: 0.02em;
    }
  }
  .text-input-acc{
    font-size: 98%
  }
}

@media only screen and (max-width: 600px){
  .container-acc{
    width: 70vw;
  }
}

@media only screen and (max-width: 480px){
  .container-acc{
    width: 90vw;
  } 
  .form-row{
    padding: 0.5em 0.25em;
    font-size: 97%;
    
    p{
      letter-spacing: 0.01em;
    }
  }
  .standard-input{
    width: 88%;
  }
  .password-input{
    width: 81%;
  }
  .input-container > i{
    width: 11%;
  }
}

@media only screen and (min-width: 1920px){
	.container-acc{
		width: 30vw;
	}
}