{% extends "todo/base.html" %}

{% load static %}

{% block title %} Password Reset Done {% endblock title %}

{% block content %}
<div class="message-container">
  <div class="message message-success message-fixed">
    <p>
      Your Password has been successfully reset!
    </p>
    <span class="close" title="close this message">&times;</span>
  </div>
</div>
<p>
  <a href="{% url 'accounts:login' %}">Login here</a>
</p>
{% endblock content %}

{% block script %}
<script src="{% static 'accounts/js/main.js' %}"></script>
{% endblock script %}