$md-col-1-width: 80%;
$md-font-size: 96%;

$sm-col-1-width: 74%;
$sm-font-size: 95%;

@media only screen and (max-width: 1024px){
	.page-header{
    font-size: 90%;

    .search-form{
      width: 36vw;
    }

    .detail-bar__user{
      font-size: 110%;
    }
  }

  .message,
	.container{
		width: 75vw;
  }
  
  .todo-header{
		font-size: 84%;
	}

	.todo-list-container::-webkit-scrollbar{
		width: 3px;
  }
  
  .form-container{
		padding: 1.2rem;
	}
}

@media only screen and (max-width: 768px){
	.page-header{
    font-size: 84%;

    .search-form{
      width: 45vw;
    }

    .search-input{
      font-size: 0.95rem;
    }

    .search-icon{
      font-size: 106%;
    }

    .detail-bar__user{
      font-size: 110%;
    }
  }
    
  .message,
	.container{
		width: 86vw;
	}
}

@media only screen and (max-width: 600px){
  .page-header{
    font-size: 80%;

    h1{
      width: 50vw;
      transition: all 0.3s ease;
    }

    .heading-collapse-mobile{
      width: 3vw;
      font-size: 1px; 
      transform: scaleX(0);
    }
    
    .search-form{
      width: 2.2rem;
      transition: all 0.3s ease;
    }

    .form-open-mobile{
      width: 75vw;
      // width: 60vw;
    }

    .search-input{
      font-size: 0.92rem;
      width: 90%;
      transition: all 0.3s ease;
    }

    .input-collapse-mobile{
      width: 0%;
      padding: 0;
    }

    .search-icon{
      font-size: 110%;
      padding-top: 0.06em;
      width: 25px;
    }

    .detail-bar__nav{
      font-size: 0.95rem;
    }

    .detail-bar__user{
      font-size: 120%;
    }
  }

	.todo-header{
		font-size: 80%;
		// margin-bottom: 0;
	}

	.todo-list-container{
		padding: 0.5rem;
		max-height: 70vh;
	}

	.todo-item{
		padding: 0.45rem;
  }
  
  .item-col-1{
		max-width: $md-col-1-width;
	}

	.todo-name{
		width: (100% / $md-col-1-width) * 100%;
    font-size: 101%;
  }
  
  .todo-status{
    font-size: 89%;
  }

	.item-col-2{
		width: 100% - $md-col-1-width;
		align-items: flex-end;
		justify-content: space-around;
		padding: 0.3rem 0.15rem;
	}

	.empty-todo-list{
		font-size: 105%;
  }
  
  .form-container{
		padding: 1rem 0.8rem;
    
    label{
		  font-size: $md-font-size;
	  }

	  li{
      list-style: none;
      color: red;
    }
  }

	.text-input{
		width: 90%;
		font-size: $md-font-size;
  }

  .date-time-input{
		font-size: 90%;
		letter-spacing: 0.01em;
	}

	.save-button{
		font-size: 90%;
  }
}

@media only screen and (max-width: 480px){
  .page-header{
    font-size: 78%;

    .search-form{
      padding: 0 0.4em;
    }

    .search-input{
      font-size: 0.9rem;
    }

    .detail-bar__user{
      font-size: 125%;
    }
  }

	.message,
	.container{
		width: 92vw;
  }
  
  .todo-header{
		font-size: 75%;
	}

	.todo-list-container{
		padding: 0.3rem;
	}

	.todo-item{
    padding: 0.4rem 0.35rem;
  }
  
  .item-col-1{
		max-width: $sm-col-1-width;
	}

	.todo-name{
    // border: 1px solid black;
    width: (100% / $sm-col-1-width) * 100%;
    margin-bottom: 0.2em;
    font-size: $sm-font-size;
  }
  
  .todo-status{
    font-size: 86%;
  }

	.item-col-2{
		width: 100% - $sm-col-1-width;
  }
  
  .form-container{
    padding: 1rem 0.6rem;
    
    label{
      font-size: $sm-font-size;
    }
  }

	.text-input{
		width: 99%;
		font-size: $sm-font-size;
  }
  
  .date-time-input{
		width: 14.5rem;
		font-size: 85%;
	}

	.save-button{
		font-size: 85%;
		padding: 0.57rem 0;
  }
    
  .page-footer{
    font-size: 96%;
  }
}

@media only screen and (max-width: 280px){
  .page-header{
    h1{
      width: 45vw;
    }
  }
  .todo-header{
    .move-icon{
      position: static !important;
      margin-left: 0.2em;
    }
  }

  .todo-status{
    padding: 0.4em 0.15em;
  }
}

@media only screen and (min-width: 1920px){
	.message,
	.container{
		width: 50vw;
	}
}