$md-col-1-width: 80%;
$md-font-size: 96%;

$sm-col-1-width: 76%;
$sm-font-size: 95%;

@media only screen and (max-width: 1024px){
	.page-header{
		font-size: 90%;
  }

  .message,
	.container{
		width: 75vw;
  }
  
  .todo-header{
		font-size: 80%;
	}

	.todo-list-container::-webkit-scrollbar{
		width: 3px;
  }
  
  .form-container{
		padding: 1.2rem;
	}
}

@media only screen and (max-width: 768px){
	.page-header{
		font-size: 80%;
  }
    
  .message,
	.container{
		width: 86vw;
	}
}

@media only screen and (max-width: 767px){
	.todo-header{
		font-size: 75%;
		// margin-bottom: 0;
	}

	.todo-list-container{
		padding: 0.5rem;
		max-height: 70vh;
	}

	.todo-item{
		padding: 0.45rem;
  }
  
  .item-col-1{
		max-width: $md-col-1-width;
	}

	.todo-name{
		width: (100% / $md-col-1-width) * 100%;
		font-size: 98%;
	}

	.item-col-2{
		width: 100% - $md-col-1-width;
		align-items: flex-end;
		justify-content: space-around;
		padding: 0.3rem 0.15rem;
	}

	.empty-todo-list{
		font-size: 105%;
  }
  
  .form-container{
		padding: 1rem 0.8rem;
    
    label{
		  font-size: $md-font-size;
	  }

	  li{
      list-style: none;
      color: red;
    }
  }

	.text-input{
		width: 90%;
		font-size: $md-font-size;
  }

  .date-time-input{
		font-size: 90%;
		letter-spacing: 0.01em;
	}

	.save-button{
		font-size: 90%;
	}
}

@media only screen and (max-width: 480px){
	.message,
	.container{
		width: 92vw;
  }
  
  .todo-header{
		font-size: 73%;
	}

	.todo-list-container{
		padding: 0.3rem;
	}

	.todo-item{
    padding: 0.35rem;
  }
  
  .item-col-1{
		max-width: $sm-col-1-width;
	}

	.todo-name{
		width: (100% / $sm-col-1-width) * 100%;
		font-size: 96%;
		padding: 0.35rem 0;
	}

	.item-col-2{
		width: 100% - $sm-col-1-width;
  }
  
  .form-container{
    padding: 1rem 0.6rem;
    
    label{
      font-size: $sm-font-size;
    }
  }

	.input-box:focus{
		box-shadow: 0.02rem 0.02rem 0.13rem 0 rgba(18, 97, 160, 0.7),
					-0.02rem -0.02rem 0.13rem 0 rgba(18, 97, 160, 0.7);
	}

	.text-input{
		width: 99%;
		font-size: $sm-font-size;
  }
  
  .date-time-input{
		// width: 15em;
		font-size: 85%;
	}

	.save-button{
		font-size: 85%;
		padding: 0.57rem 0;
	}
}

@media only screen and (min-width: 1920px){
	.message,
	.container{
		width: 50vw;
	}
}