@media only screen and (max-width: 1024px){
	.page-header{
    font-size: 90%;

    .search-form{
      width: 36vw;
    }

    .detail-bar__user{
      font-size: 110%;
    }
  }

  .todo-header{
    font-size: 87%;
  }

  .message,
	.container{
		width: 70vw;
  }

	.todo-list-container::-webkit-scrollbar{
		width: 3px;
  }

  .form-container{
		padding: 1.25rem;
	}
}

@media only screen and (max-width: 768px){
	.page-header{
    .search-form{
      width: 42vw;
    }
  }
  
  .message,
	.container{
		width: 82vw;
	}
}

@media only screen and (max-width: 600px){
  .page-header{
    h1{
      width: 50vw;
      transition: all 0.3s ease;

      a{
        font-size: 92%;
      }
    }

    .heading-collapse-mobile{
      width: 3vw;
      font-size: 1px; 
      transform: scaleX(0);
    }
    
    .search-form{
      width: 2.2rem;
      transition: all 0.3s ease;
    }

    .form-open-mobile{
      width: 75vw;
    }

    .search-input{
      font-size: $md-font-size;
      transition: all 0.3s ease;
    }

    .input-collapse-mobile{
      width: 0%;
      padding: 0;
    }

    .search-icon{
      width: 28px;
    }

    .detail-bar__nav{
      font-size: 0.95rem;
    }

    .detail-bar__user{
      font-size: 120%;
    }
  }

  .todo-header{
		font-size: 78%;
	}

	.todo-list-container{
		padding: 0.4rem;
		max-height: 70vh;
	}

	.todo-item{
		padding: 0.5rem 0.4rem;
  }
  
  .item-col-1{
		max-width: $md-col-1-width;
	}

	.todo-name{
		width: calc-width-ext($md-font-size);
    font-size: $md-font-size;
    margin-bottom: 0.15em;
  }
  
  .todo-status{
    font-size: 88%;
  }

	.item-col-2{
		width: 100% - $md-col-1-width;
		align-items: flex-end;
		justify-content: space-around;
		padding: 0.35rem 0.1rem;
	}

	.empty-todo-list{
		font-size: 105%;
  }
  
  .form-container{
    padding: 1rem 0.7rem;
    font-size: $md-font-size;
  }

	.text-input{
		width: 90%;
    font-size: $md-font-size;
    // font-size: inherit;
  }

  .date-time-input,
  .save-button{
		font-size: 92%;
	}

  .page-footer{
    font-size: 95%;
  }
}

@media only screen and (max-width: 480px){
	.message,
	.container{
		width: 92vw;
  }
  
  .item-col-1{
		max-width: $sm-col-1-width;
	}

	.todo-name{
    width: calc-width-ext($sm-col-1-width);
  }

	.item-col-2{
		width: 100% - $sm-col-1-width;
  }

	.text-input{
		width: 99%;
  }
  
  .date-time-input{
    width: 14.5rem;
  }
}

@media only screen and (max-width: 280px){
  .page-header{
    h1{
      width: 45vw;
    }
  }
  .todo-header{
    .move-icon{
      position: static !important;
      margin-left: 0.2em;
    }
  }
  .todo-status{
    padding: 0.4em 0.1em;
  }
}

@media only screen and (min-width: 1600px){
	.message,
	.container{
		width: 48vw;
	}
}

@media only screen and (min-width: 1920px){
	.message,
	.container{
		width: 42vw;
	}
}