// Note to self: Don't stupidly remove any SUPPOSEDLY ACTIVE redundant code that you come across, 
// it is most likely more important than you might think(Just a small piece of advice)

@import '_config';

*,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $primary-font-stack;
}

:root{
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

:focus{
  outline-offset: 2px;
}

a{
  text-decoration: none;
}

input,
button{
  font-family: inherit;
} 

.page-wrapper{
  position: relative; // required for the page footer bottom kini
  min-height: 100vh; // required for the page footer bottom kini
  background: $secondary-background;
}

.page-header{
  // border: 1px solid black;
  background: $primary-background;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.15em 4% 1.15em 8%;
  
  h1{
    // text-align: center;
    width: 35vw;

    a{
      // border: 1px solid black;
      color: $primary-color;
      padding: 0.1em;
    }
  }

  .search-form{
    height: 2.2rem;
    @include default-flex-styles;
    padding: 0 0.1em;
    width: 30vw;
    border: 1px solid transparent;
    border-radius: 1.1rem;
    background: $secondary-background;

    &:focus-within{
      outline: none;
      box-shadow: 0 0 0 0.1rem rgb(0, 0, 0);
    }
  }

  .search-input{
    border: 0;
    font-size: 0.98rem;
    // border: 1px solid black;
    padding: 0 0.2em;
    width: 90%;
    background : inherit;

    &:focus{
      outline: none;
    }
  }

  .search-icon{
    width: 8%;
    text-align: center;
    font-size: 105%;
    color: $primary-background;
    // transform: rotate(90deg);
    // border: 1px solid red;
  }

  .detail-bar{
    @include default-flex-styles;
    cursor: pointer;
    position: relative;

    &:hover > .detail-bar__icon,
    &:focus > .detail-bar__icon{
      opacity: 0.7;
    }

    &__user{
      border: 1px solid transparent;
      font-size: 105%;
      font-weight: 500;
      height: 2.15rem;
      width: 2.2rem;
      border-radius: 50%;
      background: $secondary-background;
      color: $primary-background;
      @include default-flex-styles;
    }

    &__icon{
      font-size: 110%;
      color: $primary-color;
      margin-left: 0.2em;
      padding-bottom: 0.2em;
    }
    
    &__nav{
      border: 1px solid lightgrey;
      font-size: 1.05rem;
      border-radius: 0.2rem;
      padding: 0.25em 0;
      position: absolute;
      top: 110%;
      right: 0;
      background: $secondary-background;
      z-index: 3;

      li{
        list-style: none;

        i{
          // border: 1px solid red;
          margin-right: 0.5em;
        }
      }
      
      .username{
        border-bottom: 1px solid lightgrey;
        padding: 0.5em 1em;
        letter-spacing: 0.01em;
        color: $primary-background;
        @include default-flex-styles;
        white-space: nowrap;
      }

      .logout-link{
        display: block;
        color: $primary-background;
        padding: 0.5em 1em;
        text-align: center;

        &:hover,
        &:focus{
          background: $alternate-color;
          color: $primary-color;
        }
      }
    }
  }
}

.main-content{
  // reason why you're explicitly setting the top and bottom padding is because you want a footer 
  // that adapts to the page content
  // the bottom padding is actually the important piece, that's why you're not using the syntax shorthand 
  // form for the padding and also, the reason why the bottom padding is 7.7rem is because the footer's 
  // height is 4.5rem and since the padding that you previously chose was 3.2rem, 3.2 + 4.5 = 7.7rem. durrh
	padding-top: 3.2rem;
	padding-bottom: 7.7rem; 
  // padding: 3.2rem 0;
  @include default-flex-styles;
  flex-direction: column;
}

.message, 
.container{
  width: 54vw;
  border-radius: $primary-border-radius;
}

.message{
  border: 1px solid transparent;
	text-align: center;
	padding: 1em 0.35em;
	margin-bottom: 1rem;
  font-weight: 500;
  box-shadow: 0 0 0.15rem 0 rgba(0, 0, 0, 0.6);
  
  &-success{
    color: #3c763d;
    // color: #356936;
    background: #dff0d8;
    border-color: #d6e9c6;
  }

  &-info{
    // background: whitesmoke;
    color: #31708f;
    background: #d9edf7;
    border-color: #bce8f1;
  }
}

.pop-up{
  position: fixed;
  top: 2%;
  z-index: 2;
}

.container{
  border: 1px solid lightgrey;
  background: $alternate-background;
	box-shadow: $container-box-shadow;
}

.todo-header{
	border-bottom: 1px solid lightgrey;
  font-size: 90%;
  border-top-left-radius: $primary-border-radius;
  border-top-right-radius: $primary-border-radius;
  // text-align: center;
	color: $alternate-color;
	padding: 0.9rem 0;
  margin-bottom: 0.2rem;
  box-shadow: 0 0.025rem 0.15rem 0 rgba(0, 0, 0, 0.6);

  h2{
    position: relative;
    @include default-flex-styles;

    .move-icon{
      border: 1px solid lightgrey;
      border-radius: $primary-border-radius;
      background: $alternate-background;
      position: absolute;
      right: 3%;
      padding: 0.2em;
      font-size: 92%;
      cursor: pointer;
    }
  }
}

.todo-list-container{
	padding: 0.8rem;
  overflow-y: auto;
  max-height: 58vh;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    background: whitesmoke;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    // background: rgba(18, 97, 160, 0.8);
    background: rgba(28, 78, 127, 0.85);
    // background-color: rgba(100,100,100,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}

.todo-item{
	border: 1px solid lightgrey;
	border-radius: $primary-border-radius;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0.7rem;
  margin-bottom: 0.85rem;
  box-shadow: 0.025rem 0.025rem 0.1rem 0 rgba(0, 0, 0, 0.6);
}

.item-col-1{
	// border: 1px solid green;
	width: 87.5%;
}

.item-col-2{
	// border: 1px solid lightgrey;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 11%;
}

.todo-name{
	// border: 1px solid green;
  font-size: 1.05rem;
	padding: 0.3rem 0;
  text-transform: capitalize;
  text-decoration-color: transparent;
}

.todo-status{
	// border: 1px solid blue;
	display: flex;
	align-items: center;
	padding: 0.4em 0.3em;
  font-size: 92%;
  letter-spacing: 0.01em;
  
  form{
    margin-right: 0.65em;
  }
}

.empty-todo-list{
	padding: 1em 0;
	text-align: center;
	font-size: 1.2rem;
}

.form-container{
	border-top: 2px solid lightgrey;
	// padding: 1rem 2rem;
  padding: 1.5rem;
  
  label{
    display: block;
    // color: #1261A0;
    color: #072F5F;
  }
}

.input-box{
	// border: 1px solid #3895D3;
	border: 1px solid $alternate-color;
	padding: 0.6em;
	border-radius: $secondary-border-radius;
	margin-bottom: 0.8rem;
	color: black;
  background: $secondary-background;

  &:focus{
    outline: none;
    // box-shadow: 0.02rem 0.02rem 0.15rem 0 rgba(18, 97, 160, 0.7),
    //       -0.02rem -0.02rem 0.15rem 0 rgba(18, 97, 160, 0.7);
    box-shadow: 0 0 0 0.07rem rgba(18, 97, 160, 0.6);
  }
}

.text-input{
  width: 70%;
  font-size: 1rem;

  &::placeholder{
    color: grey;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: color 3600s ease-out, background 3600s ease-out;
  }
}

.date-time-input{
	// border: 1px solid blue;
	width: 16rem;
	font-size: 0.95rem;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}

.save-button{
	border: 1px solid transparent;
	cursor: pointer;
	width: 10em;
	padding: 0.55em 0;
	border-radius: $secondary-border-radius;
	background: #1f588f;
  // background: #017192;
  // background: #f5f5f5;
	color: $primary-color;
  font-size: 0.95rem;
  text-transform: uppercase;
  letter-spacing: 0.015em;
	text-align: center;
	margin-top: 0.25rem;
  
  &:hover{
    background: #18446F;
  }

  &:focus{
    outline: none;
    box-shadow: 0 0 0 0.1rem rgb(0, 0, 0);
  }
}

.page-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
  height: 4.5rem;
  @include default-flex-styles;
	// padding: 1.5rem 0;
	background: $primary-background;
	color: $primary-color;
}

.overdue,
.pending,
.complete{
  // border: 1px solid black;
  margin-bottom: 0.05em;
  font-weight: 500;
  text-transform: capitalize;
}

.overdue{
	// color: red;
	color: #c9302c;
}

.pending{ 
	// color: #8ebd2e;
	color: #ec971f;
}

.complete{
	// color: green;
	color: darkgreen;
}

.delete-button{
	cursor: pointer;
  border: 0;
  background: transparent;
  // background: $secondary-background;
	color: darkred;
}

.fa-trash-alt{
	font-size: 135%;
}

.fa-edit{
	// color: #1261A0;
	color: #0d5aa7;
	font-size: 109%;
}

input[type="checkbox"]{
  position: relative;
  // visibility: hidden;
  
  &:focus{
    outline: none;
  }

  &:focus::after{
    outline: 2px solid black;
    outline-offset: 1px;
  }

  &:hover::after{
    background: rgb(175, 175, 175);
  }

  &::after{
    content: '';
    // visibility: visible;
    position: absolute;
    left: -15%;
    top: -10%;
    // display: inline-block;
    cursor: pointer;
    line-height: 1.3;
    width: 1.2rem;
    // width: 19px;
    height: 17px;
    // height: 1.1rem;
    background: rgb(224, 224, 224);
    border-radius: 0.2rem;
  }

  &:checked::after{
    content: '✔';
    // font-size: 1.1em;
    font-size: 0.94rem;
    text-align: center;
    color: white;
    background: #008B45;
    transition: font-size 0.3s ease-in, content 0.3s ease-in, color 0.3s ease-in, background 0.3s ease-in;
    // background: green;
    // background: #0E8C3A;
  }
}

.strike{
  text-decoration: line-through;
  text-decoration-color: rgb(100, 100, 100);
  // color: rgb(85, 85, 85);
  color: rgb(100, 100, 100);
  transition: all 0.3s ease-in;
}

.hide{
  display: none;
}

.draggable{
  cursor: move;
}

.dragging{
  opacity: 0.5;
}

.fade{
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

@import '../../../../accounts/static/accounts/scss/_acc-styles';
@import '_responsive';
