{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{% block title %}{% endblock title %}</title>
		<link href="{% static 'todo/img/favicon.ico' %}" rel="shortcut icon" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet" />
		<link href="{% static 'todo/css/styles.css' %}"  rel="stylesheet"/>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="page-wrapper">
			<header class="page-header {% if not request.user.is_authenticated %}page-header-acc{% endif %}">
				<h1>
					<a href="{% url 'todo:todo_list_create' %}">Croz App</a>
        </h1>
        {% if request.user.is_authenticated %}
        <div class="search-form">
					<i class="fas fa-search search-icon"></i>
					<input type="text" class="search-input input-collapse-mobile" placeholder="Search todos..." />
        </div>
        <div class="detail-bar" tabindex="0">
          <span class="detail-bar__user">{{ request.user | upper | slice:"1" }}</span>
          <i class="fas fa-sort-down detail-bar__icon"></i>
          <nav class="detail-bar__nav hide">
            <ul>
              <li class="username"><i class="fas fa-user"></i><strong>{{ request.user }}</strong></li>
              <li><a href="{% url 'accounts:logout' %}" class="logout-link">Logout</a></li>
            </ul>
          </nav>
        </div>
        {% endif %}
      </header>

			<main role="main" class="main-content">
        {% block content %}
        {% endblock content %}
			</main>

			<footer class="page-footer">
				<p>&copy; {% now "Y" %} Croz App</p>
			</footer>
    </div>
    
    {% block script %}
    {% endblock script %}
	</body>
</html>