{% extends "todo/base.html" %}

{% load static %}

{% block title %} Todo List {% endblock title %}

{% block content %}
<!-- {% if messages %}
	{% for message in messages %}
		<div class="message message-{{ message.tags }}">
			{{ message }}
		</div>
	{% endfor %}
{% endif %} -->
<div class="message pop-up hide"></div>
<div class="container">
	<div class="todo-header">
		<h2>
			<span>You have <span id="total-pending">{{ total_pending }}</span> Pending Todos</span>
			<i class="fas fa-arrows-alt move-icon" title="Enable Todo re-arrangement"></i>
		</h2>
	</div>
	<div class="todo-list-container" id="todo-list-container">
		{% for todo in todo_list %}
			<div class="todo-item" data-order="{{ todo.pk }}-{{ todo.order }}" id="item-{{ todo.pk }}">
				<div class="item-col-1">
					<div class="todo-name {% if todo.completed %}strike{% endif %}">
						{{ todo.item }}
					</div>
					<div class="todo-status">
						<form method="POST">
							{% csrf_token %}
							{% if todo.completed %}
								<input type="checkbox" data-pk="{{ todo.pk }}" title="Uncheck this todo" checked />
							{% else %}
								<input type="checkbox" data-pk="{{ todo.pk }}" title="Check this todo" />
							{% endif %}
						</form>
						<span class="{{ todo.get_due_info.class_tag }}">
							{{ todo.get_due_info.status }}
						</span>
					</div>
				</div>
				<div class="item-col-2">
					<a href="{% url 'todo:todo_edit' pk=todo.pk %}" title="Edit this todo">
						<i class="far fa-edit"></i>
					</a>
					<button type="button" class="delete-button" title="Delete this todo" data-url="{% url 'todo:todo_delete' pk=todo.pk %}">
						<i class="far fa-trash-alt"></i>
					</button>
				</div>
			</div>
		{% empty %}
			<div class="empty-todo-list">
				<p>No Todos to Display</p>
			</div>
		{% endfor %}
	</div>
	<div class="form-container" id="form-container">
		<form method="POST" id="todo-form">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="save-button">Save Todo</button>
		</form>
	</div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'todo/js/main.js' %}"></script>
<script src="{% static 'todo/js/DragDropTouch.js' %}"></script>
{% endblock script %}