*,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $primary-font-stack;
}

:root{
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus{
  outline-offset: 2px;
}

a{
  text-decoration: none;
}

input,
button{
  font-family: inherit;
} 

.page-wrapper{
  position: relative; // required for the page footer bottom kini
  min-height: 100vh; // required for the page footer bottom kini
  background: $secondary-background;
}
