/* Note to self: Don't stupidly remove any supposedly redundant code that you come across, it is most 
   likely more important than you might think(Just a small piece of advice)
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	scroll-behavior: smooth;
	font-smoothing: antialiased;
	--main-font-family: 'Roboto', sans-serif;
	/*--primary-background: #017192;*/
	/*--primary-background: #01627F;*/
	/*--primary-background: #23629F;*/
	--primary-background: #1C4E7F;
	--primary-color: #fafafa;
	--primary-border-radius: 3px;
	/*font-size: 16px;*/
}

.page-wrapper{
/*	position: relative;
	min-height: 100vh;*/
	font-family: var(--main-font-family);
}

.page-header{
	background: var(--primary-background);
}

.page-header h1{
	/*border: 1px solid blue;*/
	padding: 1rem;
	width: 90vw;
	margin: 0 auto;
}

.page-header a{
	text-decoration: none;
	/*color: white;*/
	color: var(--primary-color);
}

@media only screen and (max-width: 1024px){
	.page-header{
		font-size: 90%;
	}
}

@media only screen and (max-width: 768px){
	.page-header{
		font-size: 80%;
	}
}

.main-content{
	padding: 3rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	/*overflow: auto;*/
}

.message, 
.container{
	width: 56vw;
}

.message{
	border: 1px solid transparent;
	text-align: center;
	padding: 1rem 0;
	color: black;
	margin-bottom: 1rem;
	border-radius: 5px;
	box-shadow: 0 0 0.15rem 0 rgba(0, 0, 0, 0.6);
}

.container{
	border: 1px solid lightgrey;
	border-radius: var(--primary-border-radius);
	background: #fafafa;
	box-shadow: 0.05rem 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 1024px){
	.message,
	.container{
		width: 75vw;
	}
}

@media only screen and (max-width: 768px){
	.message,
	.container{
		width: 86vw;
	}
}

@media only screen and (max-width: 480px){
	.message,
	.container{
		width: 92vw;
	}
}

@media only screen and (min-width: 2000px){
	.message,
	.container{
		width: 50vw;
	}
}

.todo-header{
	border-bottom: 1px solid lightgrey;
	font-size: 90%;
	border-radius: var(--primary-border-radius);
	text-align: center;
	color: #1261A0;
	padding: 0.8rem 0;
	margin-bottom: 0.2rem;
}

.todo-list-container{
	padding: 0.8rem;
	overflow-y: auto;
	max-height: 58vh;
}

.todo-list-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    background: whitesmoke;
}

.todo-list-container::-webkit-scrollbar-thumb {
    border-radius: var(--primary-border-radius);
    /*background: rgba(18, 97, 160, 0.8);*/
    background: rgba(28, 78, 127, 0.85);
    /*background-color: rgba(100,100,100,.5);*/
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.todo-item{
	border: 1px solid lightgrey;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0.7rem;
	margin-bottom: 0.85rem;
}

@media only screen and (max-width: 1024px){
	.todo-header{
		font-size: 80%;
	}

	.todo-list-container::-webkit-scrollbar{
		width: 3px;
	}
}

@media only screen and (max-width: 767px){
	.todo-header{
		font-size: 75%;
		/*margin-bottom: 0;*/
	}

	.todo-list-container{
		padding: 0.5rem;
		max-height: 70vh;
	}

	.todo-item{
		padding: 0.45rem;
		--md-col-1-width: 80%;
	}
}

@media only screen and (max-width: 480px){
	.todo-header{
		font-size: 73%;
	}

	.todo-list-container{
		padding: 0.3rem;
	}

	.todo-item{
		padding: 0.35rem;
		--sm-col-1-width: 76%;
	}
}

.item-col-1{
	/*border: 1px solid green;*/
	width: 87.5%;
}

.item-col-2{
	/*border: 1px solid lightgrey;*/
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 11%;
}

.todo-name{
	/*border: 1px solid green;*/
	font-size: 1.05em;
	padding: 0.3rem 0;
	text-transform: capitalize;
}

.todo-status{
	/*border: 1px solid blue;*/
/*	display: inline-block;*/
	display: flex;
	align-items: center;
	padding: 0.35rem 0.15rem;
	font-size: 90%;
}

.todo-status form{
	margin-right: 0.65rem;
}

.empty-todo-list{
	padding: 1rem 0;
	text-align: center;
	font-size: 1.2em;
}

@media only screen and (max-width: 767px){
	.item-col-1{
		max-width: var(--md-col-1-width);
	}

	.todo-name{
		width: calc(100/80 * 100%);
		font-size: 98%;
	}

	.item-col-2{
		width: calc(100% - var(--md-col-1-width));
		align-items: flex-end;
		justify-content: space-around;
		padding: 0.3rem 0.15rem;
	}

	.empty-todo-list{
		font-size: 105%;
	}
}

@media only screen and (max-width: 480px){
	.item-col-1{
		max-width: var(--sm-col-1-width);
	}

	.todo-name{
		width: calc(100/76 * 100%);
		font-size: 96%;
		padding: 0.2rem 0;
	}

	.item-col-2{
		width: calc(100% - var(--sm-col-1-width));
	}
}

.form-container{
	border-top: 1px solid lightgrey;
	/*padding: 1rem 2rem;*/
	padding: 1.5rem;
	/*font: 1em var(--main-font-family);*/
}

.form-container label{
	display: block;
	/*color: #1261A0;*/
	color: #072F5F;
}

.input-box{
	/*border: 1px solid #3895D3;*/
	border: 1px solid #1261A0;
	padding: 0.6em;
	border-radius: 0.3rem;
	font-family: var(--main-font-family);
	margin-bottom: 0.8rem;
	color: black;
}

.input-box:focus{
	outline: none;
	box-shadow: 0.02rem 0.02rem 0.15rem 0 rgba(18, 97, 160, 0.7),
				-0.02rem -0.02rem 0.15rem 0 rgba(18, 97, 160, 0.7);
	/*outline: 2px solid #3895D3;*/
}

.text-input{
	width: 70%;
	font-size: 1em;
	/*font-size: 90%;*/
}

.text-input::placeholder{
	color: grey;
}

@-webkit-keyframes autofill {
	0%,100% {
	  color: inherit;
	  background: #fafafa;
	}
}

.text-input:-webkit-autofill {
	-webkit-animation-delay: 1s; 
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}

@media only screen and (max-width: 1024px){
	.form-container{
		padding: 1.2rem;
	}
}

@media only screen and (max-width: 767px){
	.form-container{
		padding: 1rem 0.8rem;
		--md-font-size: 96%;
	}

	.form-container label{
		font-size: var(--md-font-size);
	}

	.form-container li{
		list-style: none;
		color: red;
	}

	.text-input{
		width: 90%;
		font-size: var(--md-font-size);
	}
}

@media only screen and (max-width: 480px){
	.form-container{
		padding: 1rem 0.6rem;
		--sm-font-size: 95%;
	}

	.form-container label{
		font-size: var(--sm-font-size);
	}

	.input-box:focus{
		box-shadow: 0.02rem 0.02rem 0.12rem 0 rgba(18, 97, 160, 0.7),
					-0.02rem -0.02rem 0.12rem 0 rgba(18, 97, 160, 0.7);
	}

	.text-input{
		width: 99%;
		font-size: var(--sm-font-size);
	}
}

.date-time-input{
	/*border: 1px solid blue;*/
	width: 16em;
	font-size: 0.95rem;
	font-weight: 500;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}

.add-button{
	border: 1px solid transparent;
	cursor: pointer;
	width: 10em;
	padding: 0.55em 0;
	border-radius: 0.3rem;
	/*background: var(--primary-background);*/
	background: #1f588f;
	/*background: #017192;*/
	color: var(--primary-color);
	/*background: #f5f5f5;*/
	font: 0.95em var(--main-font-family);
	text-transform: uppercase;
	text-align: center;
	margin-top: 0.25rem;
}

.add-button:hover{
	background: #18446F;
}

@media only screen and (max-width: 767px){
	.date-time-input{
		font-size: 90%;
		letter-spacing: 0.01em;
	}

	.add-button{
		font-size: 90%;
	}
}

@media only screen and (max-width: 480px){
	.date-time-input{
		width: 15em;
		font-size: 85%;
	}

	.add-button{
		font-size: 85%;
		padding: 0.57rem 0;
	}
}

.page-footer{
/*	position: absolute;
	bottom: 0;
	width: 100%;*/
	padding: 1.5rem 0;
	text-align: center;
	background: var(--primary-background);
	color: var(--primary-color);
}

.overdue{
	/*color: red;*/
	color: #c9302c;
}

.pending{ 
	/*color: yellowgreen; */
	/*color: #8ebd2e;*/
	color: #ec971f;
}

.complete{
	/*color: green;*/
	color: darkgreen;
}

.delete-button{
	cursor: pointer;
	border: 0;
	background: white;
	color: darkred;
}

.fa-trash-alt{
	font-size: 135%;
}

.fa-edit{
	color: #1261A0;
	font-size: 108%;
}

input[type='checkbox']::after{
	content: '';
	cursor: pointer;
	line-height: 152%;
	display: inline-block;
	width: 1.2rem;
	height: 1.1rem;
	background: rgb(224, 224, 224);
	border-radius: 3px;
}

input[type='checkbox']:checked::after{
	content: '✔';
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background: #008B45;
	/*background: green;*/
	/*background: #0E8C3A;*/
}

.success{
	/*background: #1da237;*/
	/*color: white;*/
	background: lightgreen;
	color: black;
}

.info{
	background: whitesmoke;
	color: var(--primary-background);
}

.strike{
	text-decoration: line-through;
	/*opacity: 0.8;*/
	color: rgb(85, 85, 85);
}