* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

.page-wrapper {
  position: relative;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.page-header {
  background: #1C4E7F;
}

.page-header h1 {
  padding: 1rem;
  width: 90vw;
  margin: 0 auto;
}

.page-header a {
  text-decoration: none;
  color: #fafafa;
}

.main-content {
  padding-top: 3.2rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

@media only screen and (max-width: 1024px) {
  .page-header {
    font-size: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .page-header {
    font-size: 80%;
  }
}
